<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Mave</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css') }}">
    <script src="{{ url_for('bower.static', filename='d3/d3.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='modernizr/modernizr.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='moment/moment.js') }}"></script>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <!--ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul-->
        <h3 class="text-muted">Mave</h3>
      </div>

      {% block content %}{% endblock %}

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span></p>
      </div>

    </div>

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <!--script src="scripts/main.js"></script-->
    <!-- endbuild -->
</body>
</html>
